/* Sidebar styles */

/* Sidebar buttons container */
.sidebar-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  margin-top: 20px; /* Add space below the title */
  width: 100%; /* Ensure buttons take up the full width of the sidebar */
  align-items: center; /* Center-align the buttons */
}

/* Sidebar button styles */
.sidebar-button {
  background-color: #f5f5f5; /* Light gray background on hover */
  display: block;
  width: 89%; /* Make buttons span 80% of the sidebar width */
  line-height: 65px; /* Match line height to button height */
  padding: 10px 15px; /* Add padding for click area */
  text-align: left; /* Center-align the text */
  font-size: 2rem; /* Match the font size of previous text */
  font-weight: normal; /* Bold text for buttons */
  color: #333; /* Text color */
  text-decoration: none; /* Remove underline from links */
  border: 1px solid transparent; /* Add border for structure */
  border-radius: 4px; /* Rounded corners for buttons */
  margin-bottom: 1px; /* Space between buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  height: 65px;
}

/* Button hover effect */
.sidebar-button:hover {
  background-color: #bdbdbd; /* Light gray background on hover */
  color: #000; /* Darker text color on hover */
  border: 1px solid #ccc; /* Optional: Add border on hover */
}

/* Active button styling */
.sidebar-button.active {
  background-color: orange; /* Highlight active item in orange */
  color: white; /* White text for contrast */
  border: 1px solid orange; /* Border matches the background */
}

/* Icon styles */
.button-icon {
  margin-right: 10px; /* Add space between icon and text */
  font-size: 2rem; /* Size of the icons */
  color: #333; /* Default icon color */
}


.sidebar {
  width: 250px; /* Sidebar width */
  background-color: #f5f5f5; /* Background color */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for separation */
  position: fixed; /* Sticks to the left of the screen */
  left: 0;
  top: 100px;
}


.titleSideBar {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Sidebar text */
.sidebar-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin-top: -10px;
}


