.div{
    border: 1px solid;
    color: black;
    padding: 0;
    width: 60%;
    height: 1100px;
    min-height: 0;
    text-align: center;
    margin-left: 15%;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
}

.div > div {
    flex: .2 .1 auto; 
}

.h1{
    text-align: center;
    margin-right: 20%;
}

.status-circle2 {
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    border: 2px solid;
    position: relative;
    margin-left: 60%;
    bottom: 3em;
    position: relative;
  }
  