/* Layout */
.dashboard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/dashboardBackground.jpg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
  
}


.dashboard {
    display: flex;
    flex-direction: column;
    
    background-size: 60%; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    width: 150%;
    height: 125;
    position: absolute;
    right: -30%;
    top: 0%;
    background-repeat: no-repeat; /* Prevents tiling of the image */
    min-height: 100vh; /* Ensures the background covers the entire viewport height */
    overflow: hidden; /* Removes scrolling for this page */
    color: #000000; /* Optional: Adjust text color to ensure readability */
  }
  
  
  .dashboard-layout {
    display: flex;
  }
  
  .dashboard-content {
    margin-left: 75px; /* Space for the sidebar */
    margin-top: 100px; /* Space for the header */
    padding: 20px;
    width: calc(100% - 250px);
    text-align: center;
  }
  
  /* Greeting Section */
  .dashboard-greeting {
    margin-bottom: 100px;
    font-family: 'Arial', sans-serif;
  }
  
  .dashboard-greeting h1 {
    font-size: 3rem;
    margin-bottom: 100px;
  }
  
  .dashboard-greeting p {
    font-size: 3rem;
    font-weight: bold;
    margin: 5px 0;
    margin-left: 875px;
  }
  
  /* Tile Buttons */
  .dashboard-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .dashboard-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 150px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dashboard-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .tile-content {
    flex: 1;
    text-align: left;
  }
  
  .tile-content h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .tile-content p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Tile Icons */
  .tile-icon {
    font-size: 3rem; /* Large size for icons */
    color: #007bff;
  }
  

